# Topic: print()

1) Using the python print function print any string value, integer value, boolean value, float value in single print command

In [3]:
print("Mehmood", 12, False, 55.9)

Mehmood 12 False 55.9

2) Using the python print function print hyphon(-) separated any string value, integer value, boolean value, float value in single print command

In [5]:
print("Hello", True, 12.3, sep="-")

Hello-True-12.3

3) Using the python print function print any string value, integer value, boolean value, float value in separate print command.
But every value must be space separated and in single line

In [7]:
print ("Hello", 12, False, 56.78, sep=" ")

Hello 12 False 56.78

4) Can a python print function take no value to print???

In [9]:
print()

# TOPIC :Variables in Python Operators

5) One of my friends name is Mr. Ahmed. He is 30 years old.  He is a lawer by profession. He has done his bachelors in law in the year 2005. He is working with a reputable law firm 'The Himalya Associates' in Karachi since 2015.
He is a handsome lawer with height of 5.10 feets and weight 70600g. His monthly income is Rs. 200k PKR.

Note: Create variables from above text and also assign values from the text.

In [47]:
friend_name= "Ahmed"
profession= "Lawyer"
bachelor_passout_year= 2005
current_year= 2024
firm_name="Himalya Associates"
job_since= 2015
height_in_feet= 5.10
weight_in_grams=  70600 
monthly_income_in_pkr= 200000
age= 30

6)How many years has been to Mr. Ahmed after his bachelors degree? Create a variable that hold current year value and then subtract it from his passout year

In [25]:
years_since_bachelor= current_year - bachelor_passout_year
print (years_since_bachelor)

19

7) How many years has Mr. Ahmed been working with law firm 'The Himalya Associates'. Create necesary variables and print the correct number of years in working in the firm

In [27]:
years_worked_at_firm= current_year - job_since
print(years_worked_at_firm)

9

8)Convert the monthly income of Mr. Ahmed in dollars.  Create necesary variables and print the income in dollars.

In [31]:
exchange_rate = 285  # Exchange rate from PKR to USD (1 USD = 285 PKR)

# Convert the monthly income to USD
monthly_income_in_usd = monthly_income_in_pkr / exchange_rate

# Print the result in USD
print(f"Mr. Ahmed's monthly income in USD is ${monthly_income_in_usd:} USD.")

Mr. Ahmed's monthly income in USD is $701.7543859649123 USD.

9) Check if the income in dollars is a float or integer value. if it is float, re-write the code so that income gets converted in integer. print the income in integer type value

In [33]:
monthly_income_in_usd= int(monthly_income_in_usd)
print(monthly_income_in_usd)

701

10) Print the type of Mr. Ahmed's weight. Convert the weight of Mr. Ahmed in kg so that weight must be a integer value.

In [45]:
print(type(weight_in_grams))
weight_in_kgs= int(weight_in_grams/ 1000)
print(weight_in_kgs)

<class 'int'>
70

In [ ]:
#11) print the year of birth of Mr. Ahmed.

In [53]:
year_of_birth= current_year - 30
print(year_of_birth)

1994

In [ ]:
#type your code here

12) Can Rs. 100 be divided equally among 6 students?
HINT: % operator (modulo)

In [ ]:
10%2
# 10 is completely divisible by2
# 10 is multiple of 2
# 2 is a factor of 10
# 10 comes in table of 2

In [57]:
total_amount= 100
num_student= 6

remainder= total_amount % num_student
print(remainder)

4

                       Saylani Mass IT 
             Name   : Nasir Hussain
             Course : AI and DS
             Days   : Tuesday and Thursday
             ID     : AI - 332909